<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKIOXo8pv1dpbjnP7AZaj0_M7zZZN8xF0</string>
	<key>GCM_SENDER_ID</key>
	<string>814894887732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject1</string>
	<key>PROJECT_ID</key>
	<string>my-project-flutter-maps-423307</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-flutter-maps-423307.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814894887732:ios:eb2cb791f62165f646ab61</string>
</dict>
</plist>